<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Business Plans</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <!--thead class=" text-primary">
                <tr>
                  <th>Title</th>
                  <td class=" text-center">$36,738</td>
                  <th class=" text-center">Salary</th>
                </tr>
              </thead-->
              <tbody>
                <ng-container *ngFor="let plan of businessPlans">
                  <tr>
                    <td>{{plan.title}}</td>
                    <td class=" text-center">
                      <a class=" btn btn-primary btn-sm mr-1" [routerLink]="['/admin/business/plans',plan.id]">Edit</a>
                    </td>
                    <td class=" text-center">
                      <button class=" btn btn-primary btn-sm mr-1" (click)="deletePlan(plan.id)">Delete</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-12"><app-business-plan-creator></app-business-plan-creator></div>
  </div>
</div>