<div class=" wizard-container">
  <div class="bs-stepper card card-wizard active" id="adminWizard" data-color="red">
    <form>
      <div class="card-header text-center">
        <h3 class=" card-title">Build Your Profile</h3>
        <h5 class=" description"> This information will let us know more about you. </h5>
        <div class=" wizard-navigation">
          <!--div class=" progress-with-circle">
            <ngb-progressbar
              type="success"
              [max]="100"
              [progressVal]="stepValue"
              [animated]="true"
            >
            </ngb-progressbar>
          </div-->
          <app-progress-bar [setValue]="stepValue"></app-progress-bar>
          <ul class="nav nav-pills nav-pills-danger bs-stepper-header" role="tablist">
            <ng-container *ngFor="let o of stepperOpts;let i = index">
              <li class="step nav-item" [attr.data-target]="'#'+o.val">
                <a class="step-trigger nav-link" [ngClass]="activeStep == i?'checked':''" role="tab" [id]="o.val+'-trigger'">
                  <i class=" tim-icons" [ngClass]="o.iconClass"></i>
                  <p>{{o.label}}</p>
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="card-body bs-stepper-content">
        <div class="tab-content">
          <div id="about" class="tab-pane content fade" role="tabpanel">
            <app-new-admin-about title="about"></app-new-admin-about>
          </div>
          <div id="account" class="tab-pane content fade" role="tabpanel">
            <app-new-admin-about title="account"></app-new-admin-about>
          </div>
          <div id="address" class="tab-pane content fade" role="tabpanel">
            <app-new-admin-about title="address"></app-new-admin-about>
          </div>
        </div>
      </div>
      <div class=" card-footer">
        <div class=" pull-right">
          <button class=" btn btn-next btn-fill btn-danger btn-wd" type="button" (click)="stepNext()">Next</button>
          <!--input class=" btn btn-finish btn-fill btn-primary btn-wd" name="finish" type="button" value="Finish"-->
        </div>
        <div class=" pull-left">
          <button class=" btn btn-previous btn-fill btn-primary btn-wd" type="button" (click)="stepPrev()">Previous</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>