.progress-with-circle {
  position: relative;
  top: 5px;
  height: 5px;
  border-radius: .4285rem;
}
.progress-with-circle .progress {
  height: 100%;
  border-radius: .4285rem;
  box-shadow: none;
  transition: width .3s ease;
}
.progress-with-circle .progress-bar-under {
  background: #fff;
  z-index:-1;
}
.progress-with-circle  .progress-bar-under .progress-bar-over {
  background: #fd5d93;
  height:100%;
}