<div class=" card card-timeline card-plain" *ngIf="courier">
  <div class=" card-header">
    <h5 class=" card-title">Courier Timeline ({{courier.id|capitalize}})</h5>
  </div>
  <div class=" card-body">
    <ul class=" timeline">
      <ng-container *ngFor="let item of items;let i = index">
        <li class=" timeline-inverted">
          <div class=" timeline-badge" [ngClass]="item.badgeColor">
            <i class=" tim-icons" [ngClass]="item.badgeIcon"></i>
          </div>
          <div class=" timeline-panel">
            <div class=" timeline-heading" *ngIf="item.title">
              <span class=" badge badge-pill" [ngClass]="'badge-'+item.badgeColor"> {{item.title}} </span>
            </div>
            <div class=" timeline-body">
              <span class="small"> {{item.text}} </span>
              <h6 class="small float-right" *ngIf="item.timeText"><i class=" ti-time"></i> {{item.timeText}}</h6>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>