<div class=" card card-timeline card-plain" *ngIf="order">
  <div class=" card-header">
    <h5 class=" card-title">Order Timeline ({{order.id|capitalize}})</h5>
  </div>
  <div class=" card-body">
    <div class="show tab-pane fade dstepper-none" id="account">
      <h5 class=" info-text">Who are you? (Fileinput)</h5>
      <div class=" row justify-content-center">
        <div class=" col-lg-10 text-center">
          <app-image-upload></app-image-upload>
        </div>
      </div>
    </div>
  </div>
  <div class=" card-footer">
    <div class=" pull-right">
      <input class=" btn btn-next btn-fill btn-danger btn-wd" name="next" type="submit" value="Next">
      <input class=" btn btn-finish btn-fill btn-primary btn-wd" name="finish" type="button" value="Finish">
    </div>
    <div class=" pull-left">
      <input class=" btn btn-previous btn-fill btn-default btn-wd" name="previous" type="button" value="Previous">
    </div>
    <div class=" clearfix"></div>
  </div>
</div>


