.inline-btns {
  position: relative;
}
.btn.btn-link.inline-btn {
  height: 22px;
  padding: 0;
  color: #9A9A9A;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}
table td {padding: 0px 7px;}