<div class=" card">
  <div class=" card-header">
    <div class=" tools float-right btn-group">
      <div class="inline-btns">
        <button class=" btn btn-link btn-icon inline-btn" type="button" (click)="startNewOrder()">
          <i class=" tim-icons icon-simple-add"> </i>
        </button>
      </div>
      <div ngbDropdown>
        <button
          class=" btn btn-link btn-icon"
          data-toggle="dropdown"
          ngbDropdownToggle
          type="button"
        >
          <i class=" tim-icons fas fa-filter"> </i>
        </button>
        <div
          aria-labelledby="dropdownMenuLink"
          class=" dropdown-menu-right"
          ngbDropdownMenu
        >
          <ng-container *ngFor="let o of dropdownMenu;let i = index">
            <a href="javascript:void(0)" (click)="doDropdownAction(i)" ngbDropdownItem> {{o}} </a>
          </ng-container>
        </div>
      </div>
    </div>
    <h5 class=" card-title">Orders</h5>
  </div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table">
        <thead class=" text-primary">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th class=" text-center">Date</th>
            <th class=" text-right">Actions</th>
          </tr>
        </thead>
        <tbody class="small">
          <ng-container *ngFor="let order of orders">
            <tr>
              <td>
                <a href="javascript:void(0)" (click)="loadOrderTasksInAux(order.id)">
                  <!--div class=" photo"><img alt="photo" src="assets/img/james.jpg"></div-->
                  {{order.customerId}}
                </a>
              </td>
              <td>{{order.description}}</td>
              <td class=" text-center">
                <b class=" pull-left small mr-2 text-white">{{order.orderStatus}}</b>
                <!--b class=" pull-left small mr-2 text-white">{{order.progress}}%</b>
                <div class="progress-container progress-sm mt-1">
                  <ngb-progressbar
                    type="success"
                    textType="secondary"
                    [max]="100"
                    [value]="order.progress || 0"
                    [animated]="true"
                  >
                  </ngb-progressbar>
                </div-->
              </td>
              <td class=" text-center">{{order.orderDate|date:'MM/dd'}}</td>
              <td class=" text-right">
                <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple" 
                (click)="editOrder(order.id)"
                tooltip="Edit" 
                type="button" 
                aria-describedby="tooltip-60"><i class=" tim-icons icon-pencil"></i></button>
                <button class=" btn btn-danger btn-link btn-icon btn-sm btn-simple" 
                tooltip="Delete" 
                type="button" 
                aria-describedby="tooltip-61"><i class=" tim-icons icon-simple-remove"></i></button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>