<div class=" content" *ngIf="section">
  <div class=" row">
    <div class=" col-md-12">
      <form class="form-stacked" [formGroup]="sectionForm" (ngSubmit)="saveSection()">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Edit Section: {{section.title}} </h4>
          </div>
          <div class=" card-body">
            <div class=" row">
              <label class=" col-md-3 col-form-label"> Title </label>
              <div class=" col-md-9">
                <div class=" form-group">
                  <input class=" form-control" type="text" formControlName="title" />
                  <div *ngIf="sectionForm.get('title')?.invalid && sectionForm.get('title')?.touched">
                    Title is required and must be at least 3 characters long.
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <label class=" col-md-3 col-form-label"> Content </label>
              <div class=" col-md-9">
                <ng-container *ngFor="let control of content.controls; let i = index">
                  <div class=" form-group">
                    <input class=" form-control" type="text" [formControl]="control" placeholder="Content {{ i + 1 }}"/>
                    <button class=" btn btn-sm btn-primary" type="button" (click)="removeContent(i)">Remove</button>
                  </div>
                </ng-container>
                <button class=" btn btn-fill btn-primary" type="button" (click)="addContent()">Add Content</button>
              </div>
            </div>
            <div class=" row">
              <label class=" col-md-3 col-form-label"> HTML Content </label>
              <div class=" col-md-9">
                <div class=" form-group">
                  <textarea class=" form-control" type="text" formControlName="htmlContent" rows="1"></textarea>
                  <div *ngIf="sectionForm.get('htmlContent')?.invalid && sectionForm.get('htmlContent')?.touched">
                    HTML Content is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" card-footer"> 
            <button class=" btn btn-fill btn-primary" type="submit" [disabled]="sectionForm.invalid">Save Changes</button>
            <button class=" btn btn-fill btn-primary" type="button" (click)="deleteSection()">Delete Section</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- HTML Content >
<label for="htmlContent">HTML Content</label>
<textarea id="htmlContent" formControlName="htmlContent"></textarea>
<div *ngIf="sectionForm.get('htmlContent')?.invalid && sectionForm.get('htmlContent')?.touched">
  HTML Content is required and must be at least 10 characters long.
</div>

<label>Params</label>
<div *ngFor="let key of objectKeys(sectionForm.get('params')?.value)">
  <label>{{ key }}</label>
  <input [formControlName]="key" />
</div>

<label>Metrics</label>
<div *ngFor="let key of objectKeys(sectionForm.get('metrics')?.value)">
  <label>{{ key }}</label>
  <input [formControlName]="key" />
</div-->
