<ng-container *ngIf="admin">
  <form class="form-stacked" id="adminForm" [formGroup]="adminForm" (ngSubmit)="updateAdmin()">
    <div class=" card" style="padding:10px">
      <div class=" card-header">
        <h5 class=" card-category">Edit Admin</h5>
        <h4 class=" card-title">Update your details below</h4>
      </div>
      <div ngbAccordion [closeOthers]="true" [animation]="true" class=" card-collapse">
        <div ngbAccordionItem class=" card card-plain">
          <div ngbAccordionHeader class=" card-header">
            <a ngbAccordionToggle data-toggle="collapse"> User Details <i class=" tim-icons icon-minimal-down"></i></a>
          </div>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class=" card-body">
              <ng-template>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> First Name: <span class="text-white">{{admin.name.first|capitalize}}</span></label>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> Last Name: <span class="text-white">{{admin.name.last|capitalize}}</span></label>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> DOB: <span class="text-white">{{admin.dob|date:"MM/dd/yyyy"}}</span></label>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> Username </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="username" />
                      <div *ngIf="adminForm.get('username')?.invalid && adminForm.get('username')?.touched">
                        Username is required and should be 5 characters in length.
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> License State </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="licenseState" />
                      <div *ngIf="adminForm.get('licenseState')?.invalid && adminForm.get('licenseState')?.touched">
                        License state is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> License No </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="licenseNo"/>
                      <div *ngIf="adminForm.get('licenseNo')?.invalid && adminForm.get('licenseNo')?.touched">
                        License number is required and must be a valid ID number.
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> License Year </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="licenseYr"/>
                      <div *ngIf="adminForm.get('licenseYr')?.invalid && adminForm.get('licenseYr')?.touched">
                        License year is required.
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem class=" card card-plain">
          <div ngbAccordionHeader class=" card-header">
            <a ngbAccordionToggle data-toggle="collapse"> Vehicle Details <i class=" tim-icons icon-minimal-down"></i></a>
          </div>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class=" card-body">
              <ng-template>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> Vehicle Make </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="vehicleMake" />
                      <div *ngIf="adminForm.get('vehicleMake')?.invalid && adminForm.get('vehicleMake')?.touched">
                        Vehicle make is required and must be at least 3 characters long.
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> Vehicle Model </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="vehicleModel" />
                      <div *ngIf="adminForm.get('vehicleModel')?.invalid && adminForm.get('vehicleModel')?.touched">
                        Vehicle model is required and must be at least 3 characters long.
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> Vehicle Year </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="vehicleYr" />
                      <div *ngIf="adminForm.get('vehicleYr')?.invalid && adminForm.get('vehicleYr')?.touched">
                        Vehicle year is required and must be at least 3 characters long.
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> Vehicle Plate No. </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="text" formControlName="vehiclePlateNo" />
                      <div *ngIf="adminForm.get('vehiclePlateNo')?.invalid && adminForm.get('vehiclePlateNo')?.touched">
                        Vehicle plate no. is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" row">
                  <label class=" col-md-3 col-form-label"> Vehicle Current Mileage </label>
                  <div class=" col-md-9">
                    <div class=" form-group">
                      <input class=" form-control" type="number" formControlName="origMileage" />
                      <div *ngIf="adminForm.get('origMileage')?.invalid && adminForm.get('origMileage')?.touched">
                        Current mileage is required.
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class=" card-footer"> 
        <button class=" btn btn-fill btn-primary"  [disabled]="adminForm.invalid" type="submit"> Save Admin </button>
        <div *ngIf="adminForm.invalid">
          <pre>{{findInvalidControls()|json}}</pre>
        </div>
      </div>
    </div>
  </form>
</ng-container>