<div class=" card card-timeline card-plain">
  <div class=" card-body">
    <ul class=" timeline">
      <li class=" timeline-inverted">
        <div class=" timeline-badge danger">
          <i class=" tim-icons icon-planet"></i>
        </div>
        <div class=" timeline-panel">
          <div class=" timeline-heading">
            <span class=" badge badge-pill badge-danger"> Some Title </span>
          </div>
          <div class=" timeline-body">
            <p> Thank you for making my family We just had fun with the "future" theme !!! </p>
          </div>
          <h6><i class=" ti-time"></i> 11 hours ago via Twitter</h6>
        </div>
      </li>
      <li>
        <div class=" timeline-badge success">
          <i class=" tim-icons icon-user-run"></i>
        </div>
        <div class=" timeline-panel">
          <div class=" timeline-heading">
            <span class=" badge badge-pill badge-success"> Another One </span>
          </div>
          <div class=" timeline-body"><p> Thank God for the support of my wife and real friends.</p></div>
        </div>
      </li>
    </ul>
  </div>
</div>