.card-wizard {
  min-height: 410px;
  background: 0 0 !important;
  box-shadow: none !important;
  opacity: 0;
  transition: all .3s linear;
}
.card-wizard.active {
  opacity: 1;
}
.card-wizard .wizard-navigation {
  position: relative;
  margin: 80px auto 60px;
}
.card-wizard .tab-content {
  padding: 20px 0;
}
.tab-content .tab-pane {
  color: rgba(255, 255, 255, .5);
}
.tab-content>.tab-pane {
  display: none;
}
.tab-content>.active {
  display: block;
}

.bs-stepper .content {
  min-height: auto;
  padding: 0;
}
/*
.card-wizard .wizard-navigation .progress-with-circle {
  position: relative;
  top: 5px;
  height: 5px;
  border-radius: .4285rem;
}
.card-wizard .wizard-navigation .progress-with-circle .progress-bar {
  height: 100%;
  border-radius: .4285rem;
  box-shadow: none;
  transition: width .3s ease;
}
*/
.bs-stepper-header {
  display: flex;
  align-items: center;
}
.card-wizard .nav-pills {
  background-color: #fff;
  border-radius: .4285rem;
  height: 5px;
}
.wizard-container .card-wizard .nav-pills .nav-item {
  width: 33%;
  position: relative !important;
}
.card-wizard .nav-pills .nav-item {
  position: relative;
}
.card-wizard .nav-pills>li {
  text-align: center;
}
.card-wizard[data-color=red] .nav-pills .nav-item .nav-link.active, 
.card-wizard[data-color=red] .nav-pills .nav-item .nav-link.active:focus, 
.card-wizard[data-color=red] .nav-pills .nav-item .nav-link.active:hover, 
.card-wizard[data-color=red] .nav-pills .nav-item .nav-link.checked:focus, 
.card-wizard[data-color=red] .nav-pills .nav-item .nav-link.checked:hover {
  background: #fd5d93;
}

.card-wizard[data-color=red] .nav-pills .nav-item .nav-link.active, 
.card-wizard[data-color=red] .nav-pills .nav-item .nav-link.checked {
  background: #fd5d93;
  color: #fff;
}
.nav-pills.nav-pills:not(.flex-column) .nav-item:not(:last-child) .nav-link {
  margin-right: 10px;
  margin-bottom: 5px;
}
.card-wizard .nav-pills .nav-item .nav-link.active, 
.card-wizard .nav-pills .nav-item .nav-link.active:focus, 
.card-wizard .nav-pills .nav-item .nav-link.active:hover, 
.card-wizard .nav-pills .nav-item .nav-link:focus, 
.card-wizard .nav-pills .nav-item .nav-link:hover {
  box-shadow: none;
}
.card-wizard[data-color=red] .nav-pills .nav-item .nav-link {
  color: #fd5d93;
}
.card-wizard .nav-pills .nav-item .nav-link.active, 
.card-wizard .nav-pills .nav-item .nav-link.active:focus, 
.card-wizard .nav-pills .nav-item .nav-link.active:hover, 
.card-wizard .nav-pills .nav-item .nav-link.checked:focus, 
.card-wizard .nav-pills .nav-item .nav-link.checked:hover, 
.card-wizard[data-color=primary] .progress-with-circle .progress-bar {
  background: #e14eca;
}
.card-wizard .nav-pills .nav-item .nav-link.active, .card-wizard .nav-pills .nav-item .nav-link.checked {
  background: #e14eca;
  color: #fff;
}
.nav-pills.nav-pills-danger .nav-item .nav-link.active, 
.nav-pills.nav-pills-danger .nav-item .nav-link.active:focus, 
.nav-pills.nav-pills-danger .nav-item .nav-link.active:hover {
  background: top right / 210% 210% #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
}
.nav-pills:not(.nav-pills-icons):not(.nav-pills-just-icons) .nav-item .nav-link {
  border-radius: 30px;
}
.nav-pills-danger .nav-item .nav-link.active, 
.nav-pills-danger .nav-item .nav-link.active:focus, 
.nav-pills-danger .nav-item .nav-link.active:hover {
  background: top right / 210% 210% #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
}
.card-wizard .nav-pills .nav-item .nav-link {
  color: #e14eca;
  height: 45px;
  width: 45px;
  min-width: 45px;
  border-radius: 50% !important;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translate(-50%);
  background-color: #fff;
}
.nav-pills .nav-item .nav-link.active, 
.nav-pills .nav-item .nav-link.active:focus, 
.nav-pills .nav-item .nav-link.active:hover {
  background-color: #9a9a9a;
  color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}
.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.card-wizard .nav-pills>li.active>a, .card-wizard .nav-pills>li.active>a:focus, 
.card-wizard .nav-pills>li.active>a:hover, .card-wizard .nav-pills>li>a:focus, .card-wizard .nav-pills>li>a:hover {
  background-color: inherit;
  box-shadow: none;
}
.card-wizard .wizard-navigation .nav-link {
  display: flex
;
  align-items: center;
  justify-content: center;
}
.nav-pills .nav-item .nav-link {
  padding: 11px 23px;
  text-align: center;
  min-width: 100px;
  font-weight: 400;
  color: rgba(255, 255, 255, .5);
  background-color: #191f31;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #e14eca;
}
.card-wizard .nav-pills>li>a {
  border: 0 !important;
  border-radius: 0;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555;
}
.card-wizard .nav-pills .nav-item .nav-link p {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  font-weight: 400;
  color: #fff;
}
.card-wizard .card-body {
  background: #222a42;
  border-top-left-radius: .4285rem;
  border-top-right-radius: .4285rem;
  margin-top: 20px;
}
.card-wizard .moving-tab i, .card-wizard .wizard-navigation .nav-link i {
  display: inline-block;
  font-size: 19px;
  line-height: initial;
  padding: 0;
  vertical-align: bottom;
}
.card-wizard .card-footer {
  background-color: #222a42 !important;
  border-bottom-left-radius: .4285rem;
  border-bottom-right-radius: .4285rem;
  padding-bottom: 20px;
}
.card-wizard .btn {
  text-transform: uppercase;
}
.card-wizard .card-footer .pull-right {
  padding-right: 80px;
}
.card-wizard .card-footer .pull-left {
  padding-left: 80px;
}
.card-wizard .card-title+.description {
  font-size: 17px;
  margin-bottom: 32px;
}